<%= render :partial => "layouts/header" %>

<table width="800px" align="center">
<tr>
<%= render :partial => "layouts/leftside" %>
<td valign="top">
<%= yield  %>
<br />
</td>
</tr>
</table>

<%= render :partial => "layouts/footer" %>

